@media screen and (min-width: 300px) {
  .artwork_image {

    width: 290px;
    height: 190px;
    margin-top: 50px;
    /* max-width: 60%;
    max-height: 60%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 210px;
    height: 160px;
    margin-top: 50px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 139px;
    height: 213px;
    margin-top: 50px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

}

@media screen and (min-width: 600px) {
  .artwork_image {
    position: absolute;
    top: 30.2%;
    left: 56%;
    transform: translate(-100%, -100%);
    width: 290px;
    height: 190px;
  }

  .artwork_image2 {
    position: absolute;
    top: 79%;
    left: 71.7%;
    transform: translate(-100%, -100%);
    width: 290px;
    height: 190px;
  }

  .artwork_image3 {
    position: absolute;
    top: 33.5%;
    left: 87%;
    transform: translate(-100%, -100%);
    width: 139px;
    height: 213px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 77%;
    left: 53.5%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 77%;
    left: 95.2%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 125%;
    left: 68.5%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

}

@media screen and (min-width: 700px) {
  .artwork_image {
    position: absolute;
    top: 33.5%;
    left: 53%;
    transform: translate(-100%, -100%);
    width: 290px;
    height: 190px;
  }

  .artwork_image2 {
    position: absolute;
    top: 79%;
    left: 70.7%;
    transform: translate(-100%, -100%);
    width: 290px;
    height: 190px;
  }

  .artwork_image3 {
    position: absolute;
    top: 33.5%;
    left: 87%;
    transform: translate(-100%, -100%);
    width: 139px;
    height: 213px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 77%;
    left: 50.5%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 77%;
    left: 95.2%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 125%;
    left: 68.5%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 800px) {
  .artwork_image {
    position: absolute;
    top: 27.8%;
    left: 55%;
    transform: translate(-100%, -100%);
    width: 400px;
    height: 266px;
  }

  .artwork_image2 {
    position: absolute;
    top: 89.1%;
    left: 55%;
    transform: translate(-100%, -100%);
    width: 400px;
    height: 266px;
  }

  .artwork_image3 {
    position: absolute;
    top: 65.2%;
    left: 95.5%;
    transform: translate(-100%, -100%);
    width: 300px;
    height: 400px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 57%;
    left: 29%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 103%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 114%;
    left: 79%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}