@media screen and (min-width: 300px) {
  .artwork_image {

    width: 250px;
    height: 200px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 250px;
    height: 200px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 250px;
    height: 200px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image4 {
    width: 200px;
    height: 200px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 100px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 100px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 100px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

}

@media screen and (min-width: 600px) {
  .artwork_image {
    width: 250px;
    height: 200px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 250px;
    height: 200px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 250px;
    height: 200px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image4 {
    position: absolute;
    top: 87%;
    left: 87%;
    transform: translate(-100%, -100%);
    width: 160px;
    height: 160px;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 30px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 30px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 30px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text4 {
    color: var(--primary-color);
    width: 200px;
    height: 30px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 700px) {
  .artwork_image {
    position: absolute;
    top: 37%;
    left: 46.7%;
    transform: translate(-100%, -100%);
    width: 250px;
    height: 200px;
  }

  .artwork_image2 {
    position: absolute;
    top: 87%;
    left: 46.7%;
    transform: translate(-100%, -100%);
    width: 250px;
    height: 200px;
  }

  .artwork_image3 {
    position: absolute;
    top: 62%;
    left: 90%;
    transform: translate(-100%, -100%);
    width: 250px;
    height: 200px;
  }

  .artwork_image4 {
    position: absolute;
    top: 88.2%;
    left: 86%;
    transform: translate(-100%, -100%);
    width: 250px;
    height: 200px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 69%;
    left: 42%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 95%;
    left: 95%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 122%;
    left: 42%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text4 {
    color: var(--primary-color);
    position: absolute;
    top: 122%;
    left: 95%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 800px) {
  .artwork_image {
    position: absolute;
    top: 33%;
    left: 53%;
    transform: translate(-100%, -100%);
    width: 380px;
    height: 300px;
  }

  .artwork_image2 {
    position: absolute;
    top: 97%;
    left: 53%;
    transform: translate(-100%, -100%);
    width: 380px;
    height: 300px;
  }

  .artwork_image3 {
    position: absolute;
    top: 65%;
    left: 96%;
    transform: translate(-100%, -100%);
    width: 380px;
    height: 300px;
  }

  .artwork_image4 {
    position: absolute;
    top: 95%;
    left: 87.9%;
    transform: translate(-100%, -100%);
    width: 380px;
    height: 300px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 58%;
    left: 40%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 87%;
    left: 33%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 91%;
    left: 97%;
    transform: translate(-100%, -100%);
    width: 280px;
    height: 240px;
  }

  .text4 {
    color: var(--primary-color);
    position: absolute;
    top: 92%;
    left: 45%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}
