@media screen and (min-width: 300px) {
  .artwork_image {

    width: 290px;
    height: 190px;
    margin-top: 60px;
    /* max-width: 60%;
    max-height: 60%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 290px;
    height: 190px;
    margin-top: 60px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 270px;
    height: 190px;
    margin-top: 60px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

}

@media screen and (min-width: 600px) {
  .artwork_image {

    width: 290px;
    height: 190px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 290px;
    height: 190px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 270px;
    height: 190px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

}

@media screen and (min-width: 700px) {
  .artwork_image {
    position: absolute;
    top: 28.5%;
    left: 52%;
    transform: translate(-100%, -100%);
    width: 300px;
    height: 200px;    
  }

  .artwork_image2 {
    position: absolute;
    top: 94%;
    left: 52%;
    transform: translate(-100%, -100%);
    width: 300px;
    height: 200px;
  }

  .artwork_image3 {
    position: absolute;
    top: 61%;
    left: 90%;
    transform: translate(-100%, -100%);
    width: 300px;
    height: 200px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 45%;
    left: 80.5%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 77%;
    left: 51.2%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 111%;
    left: 81.5%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 800px) {
  .artwork_image {
    position: absolute;
    top: 31.6%;
    left: 55%;
    transform: translate(-100%, -100%);
    width: 400px;
    height: 266px;
  }

  .artwork_image2 {
    position: absolute;
    top: 93.1%;
    left: 55%;
    transform: translate(-100%, -100%);
    width: 400px;
    height: 266px;
  }

  .artwork_image3 {
    position: absolute;
    top: 62.6%;
    left: 95.4%;
    transform: translate(-100%, -100%);
    width: 400px;
    height: 266px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 41%;
    left: 81%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 73%;
    left: 47%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 104%;
    left: 81%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}