@media screen and (min-width: 300px) {
  .artwork_image {

    width: 182px;
    height: 266px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 200px;
    height: 262px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 200px;
    height: 262px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

}

@media screen and (min-width: 600px) {
  .artwork_image {
    width: 182px;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    position: absolute;
    top: 86%;
    left: 45%;
    transform: translate(-100%, -100%);
    width: 200px;
    height: 262px;
  }

  .artwork_image3 {
    position: absolute;
    top: 86%;
    left: 89%;
    transform: translate(-100%, -100%);
    width: 200px;
    height: 262px;
  }

  .text1 {
    color: var(--primary-color);
    width: 182px;
    height: 266px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 123%;
    left: 49.2%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 123%;
    left: 93%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

}

@media screen and (min-width: 700px) {
  .artwork_image {
    width: 216px;
    height: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    position: absolute;
    top: 86%;
    left: 45%;
    transform: translate(-100%, -100%);
    width: 200px;
    height: 277px;
  }

  .artwork_image3 {
    position: absolute;
    top: 86%;
    left: 84%;
    transform: translate(-100%, -100%);
    width: 200px;
    height: 277px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 74%;
    left: 67.5%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 119%;
    left: 48.2%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 119%;
    left: 87%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 800px) {
  .artwork_image {
    position: absolute;
    top: 41.8%;
    left: 43%;
    transform: translate(-100%, -100%);
    width: 260px;
    height: 400px;
  }

  .artwork_image2 {
    position: absolute;
    top: 96.1%;
    left: 48%;
    transform: translate(-100%, -100%);
    width: 300px;
    height: 400px;
  }

  .artwork_image3 {
    position: absolute;
    top: 72.2%;
    left: 93%;
    transform: translate(-100%, -100%);
    width: 300px;
    height: 400px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 30%;
    left: 67%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 51%;
    left: 102%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 114%;
    left: 72%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}