@media screen and (min-width: 300px) {
  .artwork_image {

    width: 250px;
    height: 170px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 170px;
    height: 170px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 170px;
    height: 170px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image4 {
    width: 170px;
    height: 170px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }

  .text4 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .artwork_image {
    position: absolute;
    top: 34%;
    left: 49.7%;
    transform: translate(-100%, -100%);
    width: 280px;
    height: 210px;
  }

  .artwork_image2 {
    position: absolute;
    top: 84%;
    left: 45.5%;
    transform: translate(-100%, -100%);
    width: 210px;
    height: 210px;
  }

  .artwork_image3 {
    position: absolute;
    top: 34%;
    left: 92.5%;
    transform: translate(-100%, -100%);
    width: 210px;
    height: 210px;
  }

  .artwork_image4 {
    position: absolute;
    top: 84%;
    left: 87.5%;
    transform: translate(-100%, -100%);
    width: 210px;
    height: 210px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 75%;
    left: 48%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 75%;
    left: 95.2%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 125%;
    left: 48%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text4 {
    color: var(--primary-color);
    position: absolute;
    top: 125%;
    left: 90%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 700px) {
  .artwork_image {
    position: absolute;
    top: 34%;
    left: 49.7%;
    transform: translate(-100%, -100%);
    width: 280px;
    height: 210px;
  }

  .artwork_image2 {
    position: absolute;
    top: 82%;
    left: 45.5%;
    transform: translate(-100%, -100%);
    width: 210px;
    height: 210px;
  }

  .artwork_image3 {
    position: absolute;
    top: 34%;
    left: 86.5%;
    transform: translate(-100%, -100%);
    width: 210px;
    height: 210px;
  }

  .artwork_image4 {
    position: absolute;
    top: 82%;
    left: 84.5%;
    transform: translate(-100%, -100%);
    width: 210px;
    height: 210px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 70%;
    left: 48%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 70%;
    left: 89.2%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 118%;
    left: 48.5%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text4 {
    color: var(--primary-color);
    position: absolute;
    top: 118%;
    left: 89%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 800px) {
  .artwork_image {
    position: absolute;
    top: 34.3%;
    left: 48%;
    transform: translate(-100%, -100%);
    width: 350px;
    height: 275px;
  }

  .artwork_image2 {
    position: absolute;
    top: 81.8%;
    left: 44%;
    transform: translate(-100%, -100%);
    width: 275px;
    height: 275px;
  }

  .artwork_image3 {
    position: absolute;
    top: 34.3%;
    left: 95.5%;
    transform: translate(-100%, -100%);
    width: 275px;
    height: 275px;
  }

  .artwork_image4 {
    position: absolute;
    top: 81.8%;
    left: 90.3%;
    transform: translate(-100%, -100%);
    width: 275px;
    height: 275px;
  }

  .text1 {
    color: var(--primary-color);
    position: absolute;
    top: 64%;
    left: 41%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text2 {
    color: var(--primary-color);
    position: absolute;
    top: 64%;
    left: 93.8%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text3 {
    color: var(--primary-color);
    position: absolute;
    top: 112%;
    left: 42.5%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }

  .text4 {
    color: var(--primary-color);
    position: absolute;
    top: 112%;
    left: 88%;
    transform: translate(-100%, -100%);
    width: 240px;
    height: 240px;
  }
}