@media screen and (min-width: 300px) {
  .artwork_image {

    width: 250px;
    height: 170px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 250px;
    height: 170px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 250px;
    height: 170px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }

  .text4 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    /* max-width: 60%;
    max-height: 60%; */
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .artwork_image {
    width: 250px;
    height: 170px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {

    width: 250px;
    height: 170px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {

    width: 250px;
    height: 170px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 700px) {
  .artwork_image {
    width: 250px;
    height: 170px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 250px;
    height: 170px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 250px;
    height: 170px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }

}

@media screen and (min-width: 800px) {
  .artwork_image {
    width: 400px;
    height: 266px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image2 {
    width: 400px;
    height: 266px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .artwork_image3 {
    width: 400px;
    height: 266px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .text1 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }

  .text2 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }

  .text3 {
    color: var(--primary-color);
    width: 200px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }

}