.about_me {
  color: var(--secondary-color);
  font-size: 28px;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.mainContentWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 150px;
}

.mainContentWrapperItem {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--primary-color);
}

/* .section {
  font-size: 25px;
  margin: 10px;
} */

.mainContentWrapperItemImg {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 350px) {
  .mainContentWrapperItemImg {
    width: 80%;
    height: 80%;
  }
  .mainContentWrapperItem {
    width: 35%;
  }
  .section {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .about_me {
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
}

@media screen and (min-width: 800px) {
  .mainContentWrapperItem {
    width: 17%;
  }
  .about_me {
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
}
