/* Folding shortcut: Ctrl+K Ctrl+,(cancel:,→.)*/

  /*300px以下の部分*/
  .bartext{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
  }

  .post_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;

    gap: 1px;          /* 線の太さ */
    background: var(--primary-color);  /* 線の色 */
    padding-top: 1px;
    padding-bottom: 1px;

    margin-top: 10px;
    margin-bottom: 100px;
  }

  .post_list {
    width: 45vw;
    height: 45vw;
    box-sizing: border-box;
    /* border: 0.5px solid var(--primary-color); */

    aspect-ratio: 1/1;
    background: var(--background-color);
  }

  .post_link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /*リンクの下線を消す*/
    color: inherit; /*リンクの色を親と同じにする*/
  }

  .post_article {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    display: flex;
    font-size: 1.0rem;                      /*元々3.2rem*/
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .text_year {
    font-size: 1.5rem; 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--secondary-color);
  }

  .post_article_img {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;  /*元々2.2, 4*/
    box-sizing: border-box;

    background: var(--background-color);
    transition: var(--secondary-color) .2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post_article:hover .post_article_img{
    /* もしエラー起きたら単に"background: var():..."でもいいかも */
    background-color: var(--secondary-color); 
    /* opacity: 1;
    pointer-events: auto; */
  }

  .post_article_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
  }

  /* text on pictures */
  .post_article_title {
    position: absolute;
    inset: 0;
    padding: 1.2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
    /* background: var(--secondary-color); */
    color: var(--tertiary-color);
    z-index: 2;
  }

  .post_article:hover .post_article_title{
    opacity: 1;
    pointer-events: auto;
  }

  .post_article_title_main {
    margin: 0;
    font-size: 1.0rem;
    text-align: left;
  }

  .post_article_title_sub {  
    font-size: 1.0rem;
    opacity: 8;
    text-align: left;
  }

@media screen and (min-width: 300px) {
  .bartext{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
  }

  .post_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;

    gap: 1px;          /* 線の太さ */
    background: var(--primary-color);  /* 線の色 */
    padding-top: 1px;
    padding-bottom: 1px;

    margin-top: 10px;
    margin-bottom: 100px;
  }

  .post_list {
    width: 45vw;
    height: 45vw;
    box-sizing: border-box;
    /* border: 0.5px solid var(--primary-color); */

    aspect-ratio: 1/1;
    background: var(--background-color);
  }

  .post_link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /*リンクの下線を消す*/
    color: inherit; /*リンクの色を親と同じにする*/
  }

  .post_article {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    display: flex;
    font-size: 1.0rem;                      /*元々3.2rem*/
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .text_year {
    font-size: 1.5rem; 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--secondary-color);
  }

  .post_article_img {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;  /*元々2.2, 4*/
    box-sizing: border-box;

    background: var(--background-color);
    transition: var(--secondary-color) .2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post_article:hover .post_article_img{
    /* もしエラー起きたら単に"background: var():..."でもいいかも */
    background-color: var(--secondary-color); 
    /* opacity: 1;
    pointer-events: auto; */
  }

  .post_article_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
  }

  /* text on pictures */
  .post_article_title {
    position: absolute;
    inset: 0;
    padding: 1.2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
    /* background: var(--secondary-color); */
    color: var(--tertiary-color);
    z-index: 2;
  }

  .post_article:hover .post_article_title{
    opacity: 1;
    pointer-events: auto;
  }

  .post_article_title_main {
    margin: 0;
    font-size: 1.0rem;
    text-align: left;
  }

  .post_article_title_sub {  
    font-size: 1.0rem;
    opacity: 8;
    text-align: left;
  }
}

@media screen and (min-width: 900px){
  .bartext{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;

  }

  .post_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;

    gap: 1px;          /* 線の太さ */
    background: var(--primary-color);  /* 線の色 */
    padding-top: 1px;
    padding-bottom: 1px;

    margin-top: 10px;
    margin-bottom: 100px;
  }

  .post_list {
    width: 24vw;
    height: 24vw;
    box-sizing: border-box;
    /* border: 0.5px solid var(--primary-color); */

    aspect-ratio: 1/1;
    background: var(--background-color);
  }

  .post_link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /*リンクの下線を消す*/
    color: inherit; /*リンクの色を親と同じにする*/
  }

  .post_article {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    display: flex;
    font-size: 3.2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  /* h3 */
  .text_year {
    font-size: 1.5rem; 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--secondary-color);
  }

  .post_article_img {
    width: 100%;
    height: 100%;
    padding: 1.5rem 1.5rem;
    box-sizing: border-box;

    background: var(--background-color);
    transition: var(--secondary-color) .2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post_article:hover .post_article_img{
    /* もしエラー起きたら単に"background: var():..."でもいいかも */
    background-color: var(--secondary-color); 
    /* opacity: 1;
    pointer-events: auto; */
    
  }

  .post_article_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
  }

  /* text on pictures */
  .post_article_title {
    position: absolute;
    inset: 0;
    padding: 1.2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
    /* background: var(--secondary-color); */
    color: var(--tertiary-color);
    z-index: 2;
  }

  .post_article:hover .post_article_title{
    opacity: 1;
    pointer-events: auto;
  }

  .post_article_title_main {
    margin: 0;
    font-size: 1.2rem;
    text-align: left;
  }

  .post_article_title_sub {  
    font-size: 1.2rem;
    opacity: 8;
    text-align: left;
  }

}

@media screen and (min-width: 1300px){
  .bartext{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    margin-left: 45px;

  }

  .post_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;

    gap: 1px;          /* 線の太さ */
    background: var(--primary-color);  /* 線の色 */
    padding-top: 1px;
    padding-bottom: 1px;

    margin-top: 10px;
    margin-bottom: 100px;
  }

  .post_list {
    width: 25vw;
    height: 25vw;
    box-sizing: border-box;
    /* border: 0.5px solid var(--primary-color); */

    aspect-ratio: 1/1;
    background: var(--background-color);
  }

  .post_link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /*リンクの下線を消す*/
    color: inherit; /*リンクの色を親と同じにする*/
  }

  .post_article {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    display: flex;
    font-size: 3.2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  /* h3 */
  .text_year {
    font-size: 1.5rem; 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--secondary-color);
  }

  .post_article_img {
    width: 100%;
    height: 100%;
    padding: 2.2rem 4rem;
    box-sizing: border-box;

    background: var(--background-color);
    transition: var(--secondary-color) .2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post_article:hover .post_article_img{
    /* もしエラー起きたら単に"background: var():..."でもいいかも */
    background-color: var(--secondary-color); 
    /* opacity: 1;
    pointer-events: auto; */
    
  }

  .post_article_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
  }

  /* text on pictures */
  .post_article_title {
    position: absolute;
    inset: 0;
    padding: 1.2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
    /* background: var(--secondary-color); */
    color: var(--tertiary-color);
    z-index: 2;
  }

  .post_article:hover .post_article_title{
    opacity: 1;
    pointer-events: auto;
  }

  .post_article_title_main {
    margin: 0;
    font-size: 1.2rem;
    text-align: left;
  }

  .post_article_title_sub {  
    font-size: 1.2rem;
    opacity: 8;
    text-align: left;
  }

}