@media screen and (min-width: 300px) {
  .grid_column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .eachwork_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  /* eachwork_info */

  .eachwork_info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .leftside {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 55px;
  }

  .tw_theme {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    /* flex: 1; */
  }

  .tw_description {
    color: var(--primary-color);
    justify-content: center;
    margin-top: 20px;
  }

  .tw_divider {
    border-right: 0.5px solid var(--primary-color);
    border-image: linear-gradient(45deg,
        var(--background-color),
        var(--primary-color),
        var(--background-color)) 1;
    height: 0px;
  }

  .tw_picture {
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
  }

  .border {
    content: "";
    border-bottom: 0.5px solid var(--primary-color);
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .video {
    width: 80%;
    padding-top: 45%;
    position: relative;
    top: 0;
    left: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .video_description {
    color: var(--primary-color);
    font-weight: lighter;
  }

  /* Grid box */
  .grid_box {
    background-image: linear-gradient(0deg,
        transparent calc(100% - 1px),
        var(--secondary-color) calc(100% - 1px)),
      linear-gradient(90deg,
        transparent calc(100% - 1px),
        var(--secondary-color) calc(100% - 1px));
    background-size: 80px 80px;
    background-repeat: repeat;
    background-position: center center;
    width: 99%;
    height: 1000px;
    position: relative;
    margin-top: 55px;
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 600px) {
  .eachwork_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  /* eachwork_info */

  .eachwork_info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .leftside {

    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 55px;
  }

  .tw_theme {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    /* flex: 1; */
  }

  .tw_description {
    color: var(--primary-color);
    justify-content: center;
    margin-top: 20px;
  }

  .tw_divider {
    border-right: 0.5px solid var(--primary-color);
    border-image: linear-gradient(45deg,
        var(--background-color),
        var(--primary-color),
        var(--background-color)) 1;
    height: 0px;
  }

  .tw_picture {
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    margin-left: 80px;
  }

  .border {
    content: "";
    border-bottom: 0.5px solid var(--primary-color);
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .video {
    width: 80%;
    padding-top: 45%;
    position: relative;
    top: 0;
    left: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .video_description {
    color: var(--primary-color);
    font-weight: lighter;
  }

  /* Grid box */
  .grid_box {
    background-image: linear-gradient(0deg,
        transparent calc(100% - 1px),
        var(--secondary-color) calc(100% - 1px)),
      linear-gradient(90deg,
        transparent calc(100% - 1px),
        var(--secondary-color) calc(100% - 1px));
    background-size: 80px 80px;
    background-repeat: repeat;
    background-position: center center;
    width: 99%;
    height: 700px;
    position: relative;
    margin-top: 55px;
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 700px) {
  .eachwork_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  /* eachwork_info */

  .eachwork_info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .leftside {
    text-align: left;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 55px;
  }

  .tw_theme {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    /* flex: 1; */
  }

  .tw_description {
    color: var(--primary-color);
    justify-content: center;
    text-align: left;
    margin-top: 20px;
  }

  .tw_divider {
    border-right: 0.5px solid var(--primary-color);
    border-image: linear-gradient(45deg,
        var(--background-color),
        var(--primary-color),
        var(--background-color)) 1;
    height: 0px;
  }

  .tw_picture {
    align-items: center;
    justify-content: center;
    margin-right: 120px;
    margin-left: 120px;
  }

  .border {
    content: "";
    border-bottom: 0.5px solid var(--primary-color);
    width: 90%;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .video {
    width: 80%;
    padding-top: 45%;
    position: relative;
    top: 0;
    left: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .video_description {
    color: var(--primary-color);
    font-weight: lighter;
  }

  /* Grid box */
  .grid_box {
    background-image: linear-gradient(0deg,
        transparent calc(100% - 1px),
        var(--secondary-color) calc(100% - 1px)),
      linear-gradient(90deg,
        transparent calc(100% - 1px),
        var(--secondary-color) calc(100% - 1px));
    background-size: 80px 80px;
    background-repeat: repeat;
    background-position: center center;
    width: 99%;
    height: 800px;
    position: relative;
    margin-top: 55px;
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 800px) {
  .eachwork_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  /* eachwork_info */

  .eachwork_info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .leftside {
    text-align: left;
    margin: 50px;
  }

  .tw_theme {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    /* flex: 1; */
  }

  .tw_description {
    color: var(--primary-color);
    justify-content: center;
    text-align: left;
    margin-top: 20px;
  }

  .tw_divider {
    border-right: 0.5px solid var(--primary-color);
    border-image: linear-gradient(45deg,
        var(--background-color),
        var(--primary-color),
        var(--background-color)) 1;
    height: 250px;
  }

  .tw_picture {
    align-items: center;
    justify-content: center;
    margin: 50px;
  }

  .border {
    content: "";
    border-bottom: 0.5px solid var(--primary-color);
    width: 120%;
  }

  .video {
    width: 80%;
    padding-top: 45%;
    position: relative;
    top: 0;
    left: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .video_description {
    color: var(--primary-color);
    font-weight: lighter;
  }

  /* Grid box */
  .grid_box {
    background-image: linear-gradient(0deg,
        transparent calc(100% - 1px),
        var(--secondary-color) calc(100% - 1px)),
      linear-gradient(90deg,
        transparent calc(100% - 1px),
        var(--secondary-color) calc(100% - 1px));
    background-size: 80px 80px;
    background-repeat: repeat;
    background-position: center center;
    width: 99%;
    height: 1000px;
    position: relative;
    margin-top: 55px;
    margin-bottom: 130px;
  }

  .griditem {
    border: 0.5px solid var(--primary-color);
    width: 100%;
    height: 100%;
  }
}