.brownTheme {
  --background-color: #eaddcf;
  --primary-color: #f25042;
  --primary-color-hover: #fffffe;
  --secondary-color: #8c7851;
  --tertiary-color: #020826;
  --accent-color: #fffffe;
  --path-width: 3px;
}

.altTheme {
  --background-color: #0f0e17;
  --primary-color: #a7a9be;
  --primary-color-hover: #116D6E;
  --secondary-color: #4E3636;
  --tertiary-color: #CD1818;
  --accent-color: #321E1E;
  --path-width: 3px;
}

.greenTheme {
  --background-color: #004643;
  --primary-color: #f9bc60;
  --primary-color-hover: #a7a9be;
  --secondary-color: #abd1c6;
  --tertiary-color: #e16162;
  --accent-color: #004643;
  --path-width: 3px;
}

.blueTheme {
  --background-color: #2D4263;
  --primary-color: #f86d51;
  --primary-color-hover: #8B9A46;
  --secondary-color: #ECDBBA;
  --tertiary-color: #dc921a;
  --accent-color: #607699;
  --path-width: 3px;
}
.waterTheme {
  --background-color: #625261;
  --primary-color: #E8E8E8;
  --primary-color-hover: #89BEB3;
  --secondary-color: #89BEB3;
  --tertiary-color: #F8FAE5;
  --accent-color: #E8E8E8;
  --path-width: 3px;
}

.yellowTheme {
  --background-color: #FEECE9;
  --primary-color: #FE7E6D;
  --primary-color-hover: #CCD1E4;
  --secondary-color: #B5C99A;
  --tertiary-color: #2F3A8F;
  --accent-color: #FEECE9;
  --path-width: 3px;
}
.pinkTheme {
  --background-color: #F3F4ED;
  --primary-color: #a786df;
  --primary-color-hover: #536162;
  --secondary-color: #424642;
  --tertiary-color: #fffffe;
  --accent-color: #bfb7d5;
  --path-width: 3px;
}
.saturnTheme {
  --background-color: #B5C0D0;
  --primary-color: #B67352;
  --primary-color-hover: #fac171;
  --secondary-color: #747264;
  --tertiary-color: #E0CCBE;
  --accent-color: #E0CCBE;
  --path-width: 3px;
}