/* GLOBAL */

body {
  background-image: url("./asset/background.png");
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  overflow: hidden;
}

/* HEADER */

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 8px;
}

header img {
  height: 60px;
}

header svg {
  height: 60px;
  width: 50px;
  fill: rgb(110, 79, 62);
}

header svg:hover {
  fill: rgb(123, 96, 81);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* PLANET */

.solarSystem {
  width: 100%;
  height: 700px;
  flex-grow: 2;
  transform: rotateX(75deg);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-75deg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 0 50px black;
}

.pathWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.path {
  position: relative;
  border: solid white 10px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: auto;
  display: inline-block;
  line-height: 80px;
  transform-style: preserve-3d;
  position: relative;
}

.path_large {
  width: 800px;
  height: 800px;
  animation: rotate linear infinite;
}

.path_medium {
  width: 500px;
  height: 500px;
  animation: rotate2 linear infinite;
}

.path_small {
  width: 400px;
  height: 400px;
  animation: rotate linear infinite;
}

.path_small2 {
  width: 40px;
  height: 40px;
  animation: rotate linear infinite;
}

.path_small3 {
  width: 300px;
  height: 300px;
  animation: rotate linear infinite;
}

.planetWrapper {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  animation: correct linear infinite;
  transform-style: preserve-3d;
}

.planet_red {
  border: solid red 10px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: red;
}

.planet_green {
  border: solid green 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: green;
}

.planet_blue {
  border: solid blue 10px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: blue;
}

.planet_yellow {
  border: solid yellow 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: yellow;
}

.planet_purple {
  border: solid purple 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: purple;
}

.planetWrapper,
.path {
  animation-duration: 10s;
}

/* ANIMATION */

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(-180deg);
  }
}


@keyframes correct {
  from {
    transform: rotateX(-90deg) rotateY(360deg);
  }
  to {
    transform: rotateX(-90deg) rotateY(0deg);
  }
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_right > * {
  margin-left: 5px;
}
