/* GLOBAL */

body {
  background-image: url("./asset/background/background.png");
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  overflow: hidden;
}

/* HEADER */

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 8px;
}

header img {
  height: 60px;
}

header svg {
  height: 60px;
  width: 50px;
  fill: rgb(110, 79, 62);
}

header svg:hover {
  fill: rgb(123, 96, 81);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* PLANET */

.solarSystem {
  width: 100%;
  height: 700px;
  flex-grow: 2;
  transform: rotateX(75deg);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

/* .solarSystem::before {
  content: ' ';
  width: 900px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: darkgrey;
  border-radius: 50%;
  transform: rotateX(-75deg) translateZ(-360px);
} */

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-75deg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 0 50px black;
}

.pathWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.path {
  position: relative;
  border: solid white 10px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: auto;
  display: inline-block;
  line-height: 80px;
  transform-style: preserve-3d;
  position: relative;
}

/* Saturn */

.path_saturn {
  width: 800px;
  height: 800px;
  animation: saturnRotate linear infinite;
}

.planetWrapperSaturn {
  top: -85px;
  animation: saturnCorrect linear infinite;
}

@keyframes saturnRotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes saturnCorrect {
  from {
    transform: rotateX(-90deg) rotateY(360deg);
  }
  to {
    transform: rotateX(-90deg) rotateY(0deg);
  }
}

/* Jupiter */

.path_jupiter {
  width: 500px;
  height: 500px;
  animation: jupiterRotate linear infinite;
}

.planetWrapperJupiter {
  top: -80px;
  animation: jupiterCorrect linear infinite;
}

@keyframes jupiterRotate {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(-180deg);
  }
}

@keyframes jupiterCorrect {
  from {
    transform: rotateX(-90deg) rotateY(180deg);
  }
  to {
    transform: rotateX(-90deg) rotateY(-180deg);
  }
}

/* Mars */

.path_mars {
  width: 400px;
  height: 400px;
  animation: marsRotate linear infinite;
}

.planetWrapperMars {
  top: -30px;
  animation: marsCorrect linear infinite;
}

@keyframes marsRotate {
  from {
    transform: rotateZ(100deg);
  }
  to {
    transform: rotateZ(-260deg);
  }
}

@keyframes marsCorrect {
  from {
    transform: rotateX(-90deg) rotateY(100deg);
  }
  to {
    transform: rotateX(-90deg) rotateY(-260deg);
  }
}

/* Mercury */

.path_mercury {
  width: 140px;
  height: 140px;
  animation: mercuryRotate linear infinite;
}

.planetWrapperMercury {
  top: -35px;
  animation: mercuryCorrect linear infinite;
}

@keyframes mercuryRotate {
  from {
    transform: rotateZ(30deg);
  }
  to {
    transform: rotateZ(-330deg);
  }
}

@keyframes mercuryCorrect {
  from {
    transform: rotateX(-90deg) rotateY(30deg);
  }
  to {
    transform: rotateX(-90deg) rotateY(-330deg);
  }
}

/* Earth */

.path_earth {
  width: 300px;
  height: 300px;
  animation: earthRotate linear infinite;
}

.planetWrapperEarth {
  top: -30px;
  animation: earthCorrect linear infinite;
}

@keyframes earthRotate {
  from {
    transform: rotateZ(200deg);
  }
  to {
    transform: rotateZ(-160deg);
  }
}

@keyframes earthCorrect {
  from {
    transform: rotateX(-90deg) rotateY(200deg);
  }
  to {
    transform: rotateX(-90deg) rotateY(-160deg);
  }
}

.planetWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-style: preserve-3d;
}

.planetWrapper,
.path {
  animation-duration: 10s;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_right > * {
  margin-left: 5px;
}
